In [1]:
#Import dependencies
import pandas as pd
import numpy as np

#File paths for csv's

file_path_schools = "PyCitySchools/Resources/schools_complete.csv"
file_path_students = "PyCitySchools/Resources/students_complete.csv"

#Read csv's
schools_data = pd.read_csv(file_path_schools)
students_data = pd.read_csv(file_path_students)

#Seeing what they have in common
print(schools_data.head())
print(students_data.head())

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score
0             66          79
1             94          61
2             90          60
3             67          58
4             97          84

## Setting up the dataframes

In [2]:
school_data_complete = pd.merge(students_data, schools_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## Analyzing the dataframe

In [3]:
#Checking data types that will be good to know later for manipulation
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [4]:
#Checking data to look for any NaN's
print (school_data_complete.isnull().sum())

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
School ID        0
type             0
size             0
budget           0
dtype: int64

In [5]:
#Checking the column names
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [6]:
#Setting a new index for Student ID
school_new_index = school_data_complete.set_index('Student ID')
school_new_index.head()

,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
Student ID,,,,,,,,,,
0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## Getting the numbers

In [7]:
number_of_schools = len(school_new_index['school_name'].unique())
print(number_of_schools)

15

In [8]:
#Checking if the number of students are unique
number_of_students = len(school_new_index['student_name'].unique())
print(number_of_students)

32715

In [9]:
#Names are repeated, checking to see if there are duplicate names or different people
#Appears the repeated names are different people in different grades and different schools so going to assume every
#student name is a new person
pd.concat(g for _, g in school_new_index.groupby("student_name") if len(g) > 1)

,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
Student ID,,,,,,,,,,
13634,Aaron Evans,M,11th,Griffin High School,74,83,4,Charter,1468,917500
18279,Aaron Evans,M,12th,Bailey High School,93,76,7,District,4976,3124928
15284,Aaron Gonzalez,M,10th,Wilson High School,98,92,5,Charter,2283,1319574
18153,Aaron Gonzalez,M,11th,Bailey High School,81,60,7,District,4976,3124928
31400,Aaron Holmes,M,10th,Johnson High School,82,82,12,District,4761,3094650
38299,Aaron Holmes,M,10th,Thomas High School,76,72,14,Charter,1635,1043130
12350,Aaron Johnson,M,12th,Griffin High School,80,71,4,Charter,1468,917500
13875,Aaron Johnson,M,9th,Wilson High School,84,90,5,Charter,2283,1319574
24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
28906,Aaron Johnson,M,9th,Rodriguez High School,94,62,11,District,3999,2547363
21693,Aaron Mitchell,M,10th,Bailey High School,94,60,7,District,4976,3124928
27078,Aaron Mitchell,M,12th,Rodriguez High School,93,57,11,District,3999,2547363
9543,Aaron Perez,M,9th,Hernandez High School,88,73,3,District,4635,3022020
24928,Aaron Perez,M,10th,Wright High School,73,87,10,Charter,1800,1049400
38140,Aaron Perez,M,9th,Thomas High School,75,81,14,Charter,1635,1043130
297,Aaron Rodriguez,M,11th,Huang High School,75,78,0,District,2917,1910635
18421,Aaron Rodriguez,M,9th,Bailey High School,69,93,7,District,4976,3124928
14004,Aaron Smith,M,12th,Wilson High School,98,98,5,Charter,2283,1319574
17670,Aaron Smith,M,10th,Cabrera High School,87,74,6,Charter,1858,1081356
23963,Aaron Smith,M,9th,Pena High School,99,70,9,Charter,962,585858
18462,Aaron Thompson,M,12th,Bailey High School,74,78,7,District,4976,3124928
24314,Aaron Thompson,M,10th,Wright High School,96,91,10,Charter,1800,1049400
10490,Aaron Williams,M,9th,Hernandez High School,66,84,3,District,4635,3022020
16468,Aaron Williams,M,11th,Cabrera High School,75,96,6,Charter,1858,1081356
4370,Aaron Wilson,M,9th,Figueroa High School,82,58,1,District,2949,1884411
27928,Aaron Wilson,M,12th,Rodriguez High School,95,69,11,District,3999,2547363
16791,Abigail Casey,F,11th,Cabrera High School,99,87,6,Charter,1858,1081356
19604,Abigail Casey,F,11th,Bailey High School,73,83,7,District,4976,3124928
23767,Abigail Miller,F,12th,Pena High School,77,84,9,Charter,962,585858
29024,Abigail Miller,F,11th,Rodriguez High School,79,72,11,District,3999,2547363
...,...,...,...,...,...,...,...,...,...,...
752,Xavier Mitchell,M,12th,Huang High School,63,95,0,District,2917,1910635
22316,Xavier Mitchell,M,10th,Bailey High School,92,71,7,District,4976,3124928
212,Zachary Allen,M,10th,Huang High School,64,87,0,District,2917,1910635
13811,Zachary Allen,M,12th,Wilson High School,69,90,5,Charter,2283,1319574
2052,Zachary Brady,M,9th,Huang High School,89,68,0,District,2917,1910635
18399,Zachary Brady,M,11th,Bailey High School,76,85,7,District,4976,3124928
8177,Zachary Davis,M,12th,Hernandez High School,79,68,3,District,4635,3022020
38431,Zachary Davis,M,9th,Thomas High School,78,69,14,Charter,1635,1043130
14101,Zachary Green,M,11th,Wilson High School,88,85,5,Charter,2283,1319574
22437,Zachary Green,M,12th,Bailey High School,68,58,7,District,4976,3124928
760,Zachary Jones,M,12th,Huang High School,74,80,0,District,2917,1910635
24332,Zachary Jones,M,12th,Wright High School,89,91,10,Charter,1800,1049400
33758,Zachary Jones,M,9th,Johnson High School,68,97,12,District,4761,3094650
21800,Zachary Parker,M,10th,Bailey High School,63,79,7,District,4976,3124928
35969,Zachary Parker,M,10th,Ford High School,93,62,13,District,2739,1763916
28384,Zachary Pham,M,10th,Rodriguez High School,72,58,11,District,3999,2547363
33238,Zachary Pham,M,11th,Johnson High School,71,75,12,District,4761,3094650
1884,Zachary Rivera,M,9th,Huang High School,83,86,0,District,2917,1910635
21777,Zachary Rivera,M,9th,Bailey High School,63,62,7,District,4976,3124928
9280,Zachary Smith,M,11th,Hernandez High School,91,94,3,District,4635,3022020
15515,Zachary Smith,M,11th,Wilson High School,87,77,5,Charter,2283,1319574
25920,Zachary Smith,M,10th,Wright High School,87,86,10,Charter,1800,1049400
36232,Zachary Smith,M,12th,Ford High School,79,59,13,District,2739,1763916
5597,Zachary Torres,M,11th,Figueroa High School,66,79,1,District,2949,1884411
9029,Zachary Torres,M,10th,Hernandez High School,73,88,3,District,4635,3022020
6762,Zachary Williams,M,11th,Shelton High School,97,77,2,Charter,1761,1056600
17889,Zachary Williams,M,12th,Bailey High School,77,89,7,District,4976,3124928
20464,Zachary Williams,M,9th,Bailey High School,97,55,7,District,4976,3124928
14411,Zoe Hawkins,F,9th,Wilson High School,77,71,5,Charter,2283,1319574
23034,Zoe Hawkins,F,11th,Holden High School,97,75,8,Charter,427,248087

In [10]:
#Calculate the total number of students
tot_students = '{:,}'.format(school_new_index['student_name'].count())

#Calculate the total budget
tot_budget = '${:,.2f}'.format(0)

#Calculate the average math score
avg_math_score = school_new_index['math_score'].mean()

#Calculate the average reading score
avg_reading_score = school_new_index['reading_score'].mean()

#Calculate the overall passing rate (overall average score)
overall_pass_rate = (avg_math_score + avg_reading_score) / 2

#Calculate the percentage of students with a passing math score (70 or greater)
pass_rate_math = (len(school_new_index[school_new_index.math_score >= 70]) / school_new_index.shape[0]) * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
pass_rate_read = (len(school_new_index[school_new_index.reading_score >= 70]) / school_new_index.shape[0])*100



#school_new_index['budget'].sum()

In [11]:
district = (number_of_schools, tot_students, tot_budget, 
            avg_math_score, avg_reading_score, pass_rate_math,
            pass_rate_read, overall_pass_rate)
District_Summary = pd.DataFrame([district], columns= ['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math',
            '% Passing Reading','% Overall Passing Rate'])

## District Summary

In [12]:
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170",$0.00,78.985371,81.87784,74.980853,85.805463,80.431606

In [44]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget',
       'Per Student Budget'],
      dtype='object')

In [50]:
#Finding 'Per Student Budget'
school_data_complete['Per Student Budget'] = school_data_complete['budget'] / school_data_complete['size']
school_data_complete['Per Student Budget'] = school_data_complete['Per Student Budget'].map("${:.2f}".format)

#Passing Rates
school_data_complete['% Passing Math'] = school_data_complete['budget'] / school_data_complete['size']

school_comparison = school_data_complete[['school_name', 'type', 'size', 'budget','Per Student Budget',
                                          'math_score','reading_score']]

school_comparison = school_comparison.groupby(['school_name']).agg({'type':'first', 
                                                'size':'first', 'budget':'first',
                                                'Per Student Budget': 'first',
                                                'math_score': 'mean', 'reading_score':'mean'})
school_comparison.rename(inplace=True, columns={'type':"School Type", 'size':'Total Students',
                                               'budget':'Total School Budget', 
                                                'math_score':'Average Math Score',
                                               'reading_score':'Average Reading Score'})
school_comparison["Total School Budget"] = school_comparison["Total School Budget"].map("${:,.2f}".format)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000

In [54]:
table = pd.pivot_table(school_data_complete, values='math_score', index=['school_name'],
                    columns=['grade'], aggfunc=np.mean)
table[['9th','10th','11th','12th']]

grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [55]:
table = pd.pivot_table(school_data_complete, values='reading_score', index=['school_name'],
                    columns=['grade'], aggfunc=np.mean)
table[['9th','10th','11th','12th']]

grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]